<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>BI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/libs/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="app/libs/css/paineis_style.css" />
</head>
<body>
<script src="js/auth.js"></script>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 logo">
        <a href="#"><img src="app/libs/img/caixasucti_painel_topo_interno.png" class="pull-right img-responsive"></a>
      </div>
      <div class="col-xs-12 col-md-12 meio">
        <div id="meio">
          <a href="#"><img src="app/libs/img/painel/caixasucti_painel_bi.png" class="pull-left img-responsive"></a>
        </div>
        <div class="row">
          <div class="col-xs-12 conjunto_botoes">
            <ul>
              <li>
                <a href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.png"></a>
                <a href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.png"></a>
                <a href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.png"></a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.png"></a>
                <a href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.png"></a>
                <a href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.png"></a>
              </li>
            </ul>         
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 rodape">
        <a href="index.html"><img src="app/libs/img/caixasucti_painel_iconvoltar.png" class="pull-right img-responsive"></a>
      </div>
    </div>  
  </div>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.js"></script>  
</body>
</html>
